<div class="row container-fluid footer">
    <div class="row">
        <p class="footer-title">Собрания проходят каждый четверг в 18:40 в 16 корпусе (бывш. ДК СГАУ)</p>
    </div>
    <div class="row">
        <div class="col-sm-4  contact container-fluid">
            <div class="col-sm-12 contact-caption">Руководитель турклуба «Горизонт»</div>
            <div class="col-sm-12 contact-title">Логинов Владимир Анатольевич</div>
            <div class="col-sm-12 contact-caption">+79171554371, fomich_speleo@mail.ru</div>
        </div>
        <div class="col-sm-4 contact container-fluid">
            <div class="col-sm-12 contact-caption">Руководитель секции спелеологии</div>
            <div class="col-sm-12 contact-title">Потапов Валентин Иванович</div>
            <div class="col-sm-12 contact-caption">+79270020803</div>
        </div>
        <div class="social-group col-sm-4">
            <a href="https://vk.com/speleo_ssau" style="margin-left:100px"> <img src="img/vk.png" class="social-icon"></a>
            <a href="https://www.instagram.com/speleossau">
            <img src="img/instagram.png"class="social-icon"></a>
        </div>
    </div>
</div>