<div class="menu">
	<a href="index.html" id="index" class="menu-item">Главная</a>
	<a href="travel_note.html" id="travel_notes" class="menu-item">Путевые заметки</a>
	<a href="#" class="menu-item">Куйбышевская</a>
	<a href="video.html" id="video" class="menu-item">Галерея</a>
	<a href="camp.html"  id="camp" class="menu-item">Походы</a>
	<a href="#" class="menu-item">Отчеты</a>
	<a href="about.html"  id="about" class="menu-item">О Клубе</a>
	<a href="feedback.html" id="feedback" class="menu-item">Обратная связь</a>
	<a href="last_feedback.html" id="last_feedback" class="menu-item">Послений отзыв</a>
</div>